{% extends '::backend.html.twig' %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<form action="{{ path('ikuko_admin_edita_tag', {'id_tag': tag.id } ) }}" method="post"
        {{ form_enctype(form) }}>

    <div>
                {{ form_label(form.tagCa) }}
                {{ form_errors(form.tagCa) }}
                {{ form_widget(form.tagCa) }}
    </div>

    <div>
                {{ form_label(form.tagEs) }}
                {{ form_errors(form.tagEs) }}
                {{ form_widget(form.tagEs) }}
    </div>

            {{ form_widget(form) }}

    <input class="boton" type="submit" value="Desa els Canvis" />
</form> 

{% endblock %}
