{% extends '::backend.html.twig' %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<form action="{{ path('ikuko_admin_edita_blog', {'blog': blog.id }) }}" method="post"
        {{ form_enctype(form) }}>

    <div>
                {{ form_label(form.categoriaCa) }}
                {{ form_errors(form.categoriaCa) }}
                {{ form_widget(form.categoriaCa) }}
    </div>
     
    <div>
                {{ form_label(form.titolCa) }}
                {{ form_errors(form.titolCa) }}
                {{ form_widget(form.titolCa) }}
    </div>
    
    <div>
                {{ form_label(form.titolEs) }}
                {{ form_errors(form.titolEs) }}
                {{ form_widget(form.titolEs) }}
    </div>

    <div>
                {{ form_label(form.blogCa) }}
                {{ form_errors(form.blogCa) }}
                {{ form_widget(form.blogCa) }}
    </div>

    <div>
                {{ form_label(form.blogEs) }}
                {{ form_errors(form.blogEs) }}
                {{ form_widget(form.blogEs) }}
    </div>

    <div>
                {{ form_label(form.autor) }}
                {{ form_errors(form.autor) }}
                {{ form_widget(form.autor) }}
    </div>

    <div>
                {{ form_label(form.dataPublicacio) }}
                {{ form_errors(form.dataPublicacio) }}
                {{ form_widget(form.dataPublicacio) }}
    </div>
 
    <div>
                {{ form_label(form.imatge) }}
                {{ form_errors(form.imatge) }}
                {{ form_widget(form.imatge) }}
    </div>


            {{ form_widget(form) }}

    <input class="boton" type="submit" value="Desa els Canvis" />
</form> 

{% endblock %}
