{% extends '::backend.html.twig' %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<table>
    <tr>
        <th>Nom del lloc en Català</th>
        <th>Nom del lloc en Castellà</th>
        <th>Link del lloc</th>
        <th>Edita</th>
        <th>Elimina</th>
    </tr>
{% for lloc in llocs %}
    <tr>
        <td>{{ lloc.nomCa }}</td>
        <td>{{ lloc.nomEs }}</td>
        <td>{{ lloc.link }}</td>
        <td><a href={{ path('ikuko_admin_edita_lloc', {'id_lloc': lloc.id }) }}>
            <img width="40px" src="{{ asset(directori_imatges ~ 'edit.png') }}"/></a></td>
        <td><a href={{ path('ikuko_admin_elimina_lloc', {'id_lloc': lloc.id }) }} class='confirmacio'>
            <img width="40px" src="{{ asset(directori_imatges ~ 'delete.png') }}"/></a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $('.confirmacio').on('click', function () {
        return confirm('Segura que vols eliminar el lloc?');
    });
    
</script>

{% endblock %}